<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/layout.css' />
      {{#if options.theme}}
          <link rel='stylesheet' href='/stylesheets/light.css' />
      {{else}}
          <link rel='stylesheet' href='/stylesheets/dark.css' />
      {{/if}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
