body {
  color: white;
  background-color: #0b0b44;
}


article {
  border: 1px solid #9696e5;
}
article > div > textarea {
  color: white;
}

.bar button {
  background: #9696e5;

  color: white;
}

button {
  background: #9696e5;
  color: white;
}

header {
  background: #9696e5;
}

label > input:not([type=checkbox]),
textarea {
  background-color: #0b0b44;
}

