body {
  color: black;
  background-color: white;
}

article {
  border: 1px solid darkblue;
}
.bar button {
  background: #2b83c8;
}

button {
  background: #2b83c8;
}

header {
  background: #2b83c8;
}
